---
console_url: "https://your-instance.sentinelone.net"
api_token: "YOUR_S1_API_TOKEN"
site: "ansible-test"
license_type: "core"
total_agents: 100
site_type: Paid
gpg_key: "/tmp/sentinel_one.gpg"  # optional
